<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InStock - Contacto</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>iStock</h1>
            <nav>
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="login.html">Iniciar Sesión</a></li>
                    <li><a href="contact.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="contact" class="section">
        <div class="container-contact">
            <h2>Contactanos</h2>
            <p>Si tiene alguna pregunta o consulta, no dude en contactarnos mediante el siguiente formulario.</p>
            <form id="contactForm">
                <input type="text" id="name" placeholder="Nombre completo" required>
                <input type="email" id="email" placeholder="Correo elecronico" required>
                <textarea id="message" placeholder="Escribe el mensaje aqui..." required></textarea>
                <button type="submit">Send Message</button>
            </form>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 iStock. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
