<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InStock - Gestor de Inventario</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>InStock</h1>
            <nav>
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="login.html">Iniciar Sesión</a></li>
                    <li><a href="contact.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="inicio" class="section">
        <div class="container">
            <h2>Bienvenido a InStock</h2>
            <p><span class="textInStock">InStock</span> es un sistema de gestión de inventario diseñado para satisfacer las necesidades de tu comercio. Con <span class="textInStock">InStock</span>, puedes mantener un control detallado de tu inventario en todo momento.</p>

            <h2>Funciones principales</h2>
            <div class="functions">
                <div class="function">
                    <i class="fas fa-plus-circle"></i>
                    <h3>Agregar Productos</h3>
                    <p>Añade fácilmente nuevos productos a tu inventario con solo unos pocos clics.</p>
                </div>
                <div class="function">
                    <i class="fas fa-sync-alt"></i>
                    <h3>Actualización en Tiempo Real</h3>
                    <p>Actualiza la cantidad y el precio de tus productos en tiempo real para mantener tu inventario siempre preciso.</p>
                </div>
                <div class="function">
                    <i class="fas fa-search"></i>
                    <h3>Búsqueda Eficiente</h3>
                    <p>Busca rápidamente productos dentro de tu inventario utilizando potentes herramientas de búsqueda.</p>
                </div>
            </div>

            <h2>Sencillos Pasos para Empezar</h2>
            <div class="steps">
                <div class="step">
                    <i class="fas fa-user-plus"></i>
                    <h3>Crear Cuenta</h3>
                    <p>Regístrate en <span class="textInStock">InStock</span> para obtener tu cuenta personalizada.</p>
                </div>
                <div class="step">
                    <i class="fas fa-upload"></i>
                    <h3>Cargar tus Productos</h3>
                    <p>Sube tus productos al sistema para empezar a gestionar tu inventario.</p>
                </div>
                <div class="step">
                    <i class="fas fa-check-circle"></i>
                    <h3>Listo para Usar</h3>
                    <p>¡Tu inventario está listo para ser gestionado! ¡Comienza a usar iStock ahora!</p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 <span class="textInStock">InStock.</span> Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>



