* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.section {
    padding: 60px 0;
    text-align: center;
}

.section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #007bff;
}

.section p {
    font-size: 18px;
    margin-bottom: 40px;
}

.functions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.function {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
    margin-right: 20px;
}

.function:hover {
    box-shadow: 0 6px 10px rgba(0,0,0,0.1);
}

.function:last-child {
    margin-right: 0;
}

.function i {
    font-size: 48px;
    color: #007bff;
    margin-bottom: 20px;
}

.function h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.function p {
    font-size: 16px;
    color: #666;
}

.image {
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px 0;
    margin-top: auto; /* Empuja el footer hacia abajo */
}

.textInStock {
    color: #007bff;
}

.steps {
    display: flex;
    justify-content: space-between;
}

.step {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
    text-align: center;
    margin-right: 20px;
}

.step:hover {
    box-shadow: 0 6px 10px rgba(0,0,0,0.1);
}

.step:last-child {
    margin-right: 0;
}

.step i {
    font-size: 48px;
    color: #007bff;
    margin-bottom: 20px;
}

.step h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.step p {
    font-size: 16px;
    color: #666;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.card {
    width: 300px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.card-header h2 {
    margin: 0;
}

.card-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #0056b3;
}

.card-footer {
    background-color: #f4f4f4;
    padding: 20px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.card-footer p {
    margin: 0;
    text-align: center;
}

.card-footer a {
    color: #007bff;
    text-decoration: none;
}

.card.bigger-card {
    width: 700px;
}


/* Estilo para los inputs del formulario de contacto */

#contactForm input[type="text"],
#contactForm input[type="email"] {
    width: calc(50% - 5px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
}

#contactForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contactForm button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

#contactForm button:hover {
    background-color: #0056b3;
}

.container-contact {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    height: 73vh;
}